<div id="<%= dom_id sazzad %>">
  <p>
    <strong>Name:</strong>
    <%= sazzad.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= sazzad.age %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= sazzad.bio %>
  </p>

</div>
